{
  "presets": ["es2015-minimal", "stage-0", "react"],
  "plugins": [
    "transform-react-remove-prop-types",
    "transform-class-properties",
    ["transform-es2015-classes", { "loose":true }],
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
