{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-react-remove-prop-types",
    "@babel/plugin-proposal-class-properties"
  ]
}
