{
  "presets": [
    "es2015-rollup",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-node-env-inline",
    "transform-react-remove-prop-types",
    "transform-class-properties",
    ["transform-react-jsx", { "pragma":"h" }]
  ]
}
